/* Add Responsiveneess In Text  */


@media  (max-width:1230px)  {
    #FirstDiv{
        font-size: 14px;
      width: 2vw; 
    }

}
@media  (max-width:1003)  {
    #FirstDiv{
        font-size: 10px;
  
    }

}
