/* Add Responsiveneess In Text  */


@media  (max-width:1230px)  {
    #FirstDiv{
        font-size: 14px;
 
    }
}
@media  (max-width:1003)  {
    #FirstDiv{
        font-size: 10px;
  
    }

}
@media  (min-width:993)  {
    #FirstDiv{
        width: 10vw;
       color: aqua;
       background-color: yellow;
    }

}
